<!--views/frontend/category.ejs-->

<link rel="stylesheet" href="/styles/frontend/category.css" />
<script src="/scripts/paginate_category.js"></script>

<section class="Category">
    <% if(data.items){ %>
    <div class="inner region">
        <% for(let post of data.items){ %>
            <div class="thumb">
                <a class="wrapper" href="/post/<%= post.key %>">
                    <img src="<%= post.thumb %>" />
                    <% if(post.videos){ %>
                        <% if((post.videos !== "")&&(post.videos !== "[]")){ %>
                        <img class="play-icon" src="/images/play.png" />
                        <% } %>
                    <% } %>
                </a>
                <p class="date"><%= (new Date(post.date)).toLocaleDateString("it-IT") %></p>
                <p class="title"><a href="/post/<%= post.key %>"><%= post.title %></a></p>
            </div>
        <% } %>
    </div>
    <div class="pagination">
        <img class="load" onclick="paginate('<%= data.lastKey %>','<%= data.type %>')" 
        src="/images/load-more.png" />
    </div>
    <% } %>
</section>