<!--views/backend/setting.ejs-->

<link rel="stylesheet" href="/styles/backend/setting.css" />

<section class="Setting">
    <% if(data.item){ %> 
    <form action='/admin/setting/edit/<%= data.item.key %>' method='post' >
        <span>Website title:</span><input type='text' value="<%= data.item.siteTitle %>"
        name='siteTitle' required />
        <span>Description:</span><input type='text' value="<%= data.item.description %>"
        name='description' required />
        <span>Dashboard item limit:</span><input type='number' value="<%= data.item.ditemLimit %>"
        name='ditemLimit' required /> 
        <span>Frontend item limit:</span><input type='number'  value="<%= data.item.fitemLimit %>"
        name='fitemLimit' required /> 
        <span>Front category limit:</span><input type='number' value="<%= data.item.categoryItemLimit %>"
        name='categoryItemLimit' required /> 
        <a></a><input type='submit' value='បញ្ជូន​ទិន្នន័យ' />
    </form>
    <% delete data.item %>
    <% }else{ %>
    <form action='/admin/setting' method='post' >
        <span>Website title:</span><input type='text'
        name='siteTitle' required />
        <span>Description:</span><input type='text'
        name='description' required />
        <span>Dashboard item limit:</span><input type='number' 
        name='ditemLimit' required /> 
        <span>Frontend item limit:</span><input type='number'
        name='fitemLimit' required /> 
        <span>Front category limit:</span><input type='number'
        name='categoryItemLimit' required /> 
        <a></a><input type='submit' value='បញ្ជូន​ទិន្នន័យ' />
    </form>
    <% } %>
</section>